@font-face
 font-family: 'Airstream-Regular'
 src: url('/fonts/airstream/Airstream-webfont.eot') 
 src: url('/fonts/airstream/Airstream-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/airstream/Airstream-webfont.woff') format('woff'), url('/fonts/airstream/Airstream-webfont.ttf') format('truetype'), url('/fonts/airstream/Airstream-webfont.svg#Airstream-Regular') format('svg')
 font-weight: normal
 font-style: normal
