.form-control
  &:-moz-placeholder, &::-moz-placeholder, &:-ms-input-placeholder, &::-webkit-input-placeholder
    color: #999999
  display: block
  color: #666666
  vertical-align: middle
  background-color: rgba(255,255,255,0.9)
  border: 1px solid #cccccc
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
  @include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s)

  &:focus
    border-color: #66afe9
    outline: 0
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(#00AFED, 0.6)

  &[disabled], &[readonly]
    cursor: not-allowed
    background-color: #eeeeee

  &.is-transparent
    background-color: transparent

fieldset[disabled] .form-control
  cursor: not-allowed
  background-color: #eeeeee

textarea.form-control
  height: auto

.input-group .form-control
  display: table-cell
  width: 100% 

.has-warning .form-control
  border-color: #c09853
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)

  &:focus
    border-color: #a47e3c
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e

.has-error .form-control
  border-color: #b94a48
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)

  &:focus
    border-color: #953b39
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392   

.has-success .form-control
  border-color: #468847
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)

  &:focus
    border-color: #356635
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b    

.form-control-static
  margin-bottom: 0
  padding-top: 7px   
  

.form-inline .form-control
  display: inline-block
  &:-moz-placeholder, &::-moz-placeholder, &:-ms-input-placeholder, &::-webkit-input-placeholder
    color: #999999
  padding: 2px 5px
  font-size: .8em
  border: none
  box-shadow: none
  @include transition(border-color ease-in-out .15s)

  &:focus
    border-color: #66afe9

fieldset[disabled] .form-control
  background-color: #eeeeee 

                