.form-group
  margin-bottom: 15px

@media (min-width: 768px)
  .form-inline
    .form-group
      display: inline-block
      margin-bottom: 0
      vertical-align: middle

.form-horizontal
  .form-group
    margin-left: -15px
    margin-right: -15px
    &:before
      content: " "
      /* 1
      display: table
      /* 2
    &:after
      content: " "
      /* 1
      display: table
      /* 2
      clear: both
    &:before
      content: " "
      /* 1
      display: table
      /* 2
    &:after
      content: " "
      /* 1
      display: table
      /* 2
      clear: both  