.input-group
  position: relative
  display: table
  border-collapse: separate
  width: 100%
  
  &.col
    float: none
    padding-left: 0
    padding-right: 0

.input-group-addon
  display: table-cell
  white-space: nowrap
  vertical-align: middle  
  width: 35px
  text-align: center
  background-color: #eeeeee
  border: 1px solid #cccccc
    
  input
    &[type="radio"], &[type="checkbox"]
      margin-top: 0

  &:first-child
    border-right: 0

  &:last-child
    border-left: 0

  [class^="icon-"]      
    color: rgba(0,0,0,0.3)     

.has-warning .input-group-addon
  color: #c09853
  border-color: #c09853
  background-color: #fcf8e3

.has-error .input-group-addon
  color: #b94a48
  border-color: #b94a48
  background-color: #f2dede

.has-success .input-group-addon
  color: #468847
  border-color: #468847
  background-color: #dff0d8    