// Extra size

.input-sm
  height: 30px
  padding: 5px 10px
  font-size: 12px
  line-height: 1.5
  

select.input-sm
  height: 30px
  line-height: 30px

textarea.input-sm
  height: auto

.input-lg
  height: 45px
  padding: 10px 16px
  font-size: 18px
  line-height: 1.33

select.input-lg
  height: 45px
  line-height: 45px

textarea.input-lg
  height: auto
  
.input-group-lg >
  .form-control, .input-group-addon, .input-group-btn > .btn
    height: 45px
    padding: 10px 16px
    font-size: 18px
    line-height: 1.33
    

select.input-group-lg >
  .form-control, .input-group-addon, .input-group-btn > .btn
    height: 45px
    line-height: 45px

textarea.input-group-lg >
  .form-control, .input-group-addon, .input-group-btn > .btn
    height: auto

.input-group-sm >
  .form-control, .input-group-addon, .input-group-btn > .btn
    height: 30px
    padding: 5px 10px
    font-size: 12px
    line-height: 1.5

select.input-group-sm >
  .form-control, .input-group-addon, .input-group-btn > .btn
    height: 30px
    line-height: 30px

textarea.input-group-sm >
  .form-control, .input-group-addon, .input-group-btn > .btn
    height: auto

.input-group-addon
  
  &.input-sm
    padding: 5px 10px
    font-size: 12px
    
  &.input-lg
    padding: 10px 16px
    font-size: 18px    

.form.is-rounded

  .input-sm
    border-radius: 3px    
    
  .input-group-addon
    &.input-sm
      border-radius: 3px     
    &.input-lg
      border-radius: 5px
    
  .input-lg
    border-radius: 5px
    
  .input-group-sm >
    .form-control, .input-group-addon, .input-group-btn > .btn    
      border-radius: 3px
      
  .input-group-lg >
    .form-control, .input-group-addon, .input-group-btn > .btn
      border-radius: 5px
