.form.is-themed
  box-shadow: 0 0 1px rgba(0,0,0, 0.4), 0 3px 15px rgba(0,0,0, 0.3), inset 0 1px rgba(0,0,0,1), inset 0 -3px 2px rgba(0,0,0,0.25)
  overflow: hidden
  background-color: #EFEFEF
  @include box-sizing(border-box)
  @include background-image(linear-gradient(#EFEFEF, #FFFFFF))
  
  .btn
    width: 100%
  
  .form-title, .form-footer, .form-control
    font-family: $marketing-theme-font-family
 
  .form-title
    background-color: $bright
    box-shadow: 0 1px 2px rgba(0,0,0, 0.5), 0 1px 1px rgba(255, 255, 255, 0.1) inset  
    border-bottom: 7px solid $firm
    color: $base-color 
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.7)  
    @include background-image(linear-gradient($bright 0%, darken($bright, 7%) 70%))
    
    a       
      color: $base-color      
      border-bottom: 1px solid $base-color
      font-size: 1rem  
      float: right                                                             

      &:hover
        color: lighten($base-color, 7%)
        border-bottom-color: $base-color

  .form-footer                                                                              
    background-color: darken($base-color,10%)              
    border-top: 1px solid darken($base-color,15%)                                
    color: $grayDarker       

    a                                                                              
      border-bottom: 1px solid $bright
      color: lighten($bright, 10%)
      &:hover
        border-bottom-color: $bright
        color: lighten($bright, 20%)  

.form.is-rounded
  border-radius: 4px 4px 0 0
  
  .form-title
    border-radius: 3px 3px 0 0
    
  .form-control, .input-group-addon
    border-radius: 3px     
      
  .input-group-addon:not(:first-child):not(:last-child), .input-group-btn:not(:first-child):not(:last-child), .input-group .form-control:not(:first-child):not(:last-child)
    border-radius: 0  

  .input-group .form-control:first-child, .input-group-addon:first-child
    border-bottom-right-radius: 0 
    border-top-right-radius: 0    
    
  .input-group-btn
    &:first-child >
      .btn, .dropdown-toggle
        border-bottom-right-radius: 0
        border-top-right-radius: 0
    &:last-child > .btn:not(:last-child):not(.dropdown-toggle)
      border-bottom-right-radius: 0
      border-top-right-radius: 0   
      
  .input-group .form-control:last-child, .input-group-addon:last-child
    border-bottom-left-radius: 0
    border-top-left-radius: 0
  
  .input-group-btn
    &:last-child >
      .btn, .dropdown-toggle
        border-bottom-left-radius: 0
        border-top-left-radius: 0             
    &:first-child > .btn:not(:first-child)
      border-bottom-left-radius: 0
      border-top-left-radius: 0        
