:javascript
  $('.mod-section').removeClass('mod-section-*').addClass('mod-section-blue')

%header.mod-article-header

  .hidden-mobile.image-with-text(data-js="image-loader")

    %img(data-src="/img/themes/panoramic-cityscapes/1.jpg" src="/img/themes/blank_1200.png")

    %h1.big-text
      %span
        .spacer.pt0.pb0.pl5.pr5
        Getting better, 
        .spacer.pt0.pb0.pl5.pr5
        %br
        .spacer.pt0.pb0.pl5.pr5
        Getting bigger ...
        .spacer.pt0.pb0.pl5.pr5
        
        %small
          %span
            .spacer.pt0.pb0.pl5.pr5
            Our success story is backed by 10 years of experience 
            %br
            .spacer.pt0.pb0.pl5.pr5
            in the carrier-to-carrier business
            .spacer.pt0.pb0.pl5.pr5

%article.mod-article.pt20.pb10

  
  %h1 MISSION & VISION

  %p
    VOIPING is a telecom player that has the scale and efficiency necessary to garner the economies that make the wholesale voice business viable. National carriers are increasingly outsourcing international termination, and even some wholesalers are outsourcing their international off-net traffic. VOIPING is looking for taking a position in this market.  
    VoIP is a double-edged sword for international wholesalers. VOIPING owns IP-based network infrastructure, which offers considerable cost savings for the carriage of voice and new services in a single  integrated network. 
    VOIPING successfull story is coming from 10  years of experience in the carrier-to-carrier business with high focus on cost efficiency and developing a safe and long term business relationships with major telecom operator . 
    We were able to build a solid and stable company in such a challeging time and environment, and we are confident to gain a stronger position in this global market in the near future.  
    Getting better, getting bigger ...
  %p
    Growing into new markets with emerging opportunities will fill VOIPING business plan. The margin will be stable due to the fact of introducing higher value added services into VOIPING’s portfolio
    VOIPING offers a complete set of products and services, oriented to different domestic markets to ensure maximum value creation for the customer.
  %p 
    VOIPING is lead by a management team with a proven success experience in the Infocom industry.    


     


