%html    
    
  %head
 
    != css :bundle, :library, :media => 'screen'

    != css :marketing, :media => 'screen'

    %script(src="http://code.jquery.com/jquery-1.10.1.min.js")

    != js :library
  
    :javascript 
      NProgress.start();
 
  %body
 
    .document.is-centered
  
      %header.pt30.mod-top-nav= partial(:'/marketing/partial/top-nav')
      
      %section.mod-section(role="main")= yield  
 
    != js :bundle, :marketing
  
  %noscript
