@import 'styles'

.badge
  display: inline-block
  border-radius: 3px
  padding: 2px 5px 0px
  letter-spacing: 0
  font: 
    weight: 800 
    size: $base-font-size
    family: $badge-font-family
  line-height: $base-line-height
  text-shadow: 0 1px 0px transparentize(#000,.2)
  text-align: center
  white-space: nowrap
  vertical-align: middle
  text-transform: uppercase

.badge:empty
  display: none

