@import 'config' 

*
  padding: 0
  margin: 0
  outline: none

html
  font-size: 100%                                      // 1rem = 16px
  @include text-size-adjust(100%)

html, body
  height: 100%  

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section
  display: block

audio, canvas, video
  display: inline-block
  *display: inline
  *zoom: 1

audio:not([controls])
  display: none

img, iframe, fieldset, object, table
  border: none

img::selection, img::-moz-selection                                                             
  background: transparent

caption, th
  font-weight: normal
  text-align: left

td
  vertical-align: top

sub, sup
  vertical-align: baseline

ol, ul
  list-style-type: none

table
  border-collapse: collapse
  border-spacing: 0

th, h1, h2, h3, h4, h5, h6
  font-weight: normal

button,
input,
select,
textarea
  margin: 0
  vertical-align: middle

button, input
  *overflow: visible
  line-height: normal

button::-moz-focus-inner,
input::-moz-focus-inner
  border: 0
  padding: 0

button,
input[type="button"],
input[type="reset"],
input[type="submit"]
  cursor: pointer
  @include appearance(button)

input[type="search"]
  @include appearance(textfield)
  @include box-sizing(content-box)

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button
  -webkit-appearance: none

textarea
  overflow: auto
  vertical-align: top

pre
  word-wrap: break-word
  word-break: break-all
  overflow: auto
  
code
  white-space: pre-wrap
  
a                                                                               
  font-weight: normal
  cursor: pointer

  &:active, &:hover, &:focus                                                  
    outline: none

