@import 'config'   

// General

h1, h2, h3, p
  text-rendering: optimizeLegibility   
  @include font-smoothing(antialiased)

h1, h2, h3, p, [class^="icon-"]:before, [class*=" icon-"]:before
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004), 1px 1px 1px rgba(127, 127, 127, 0.3)  
  
h1, h2, h3, p, #{$all-text-inputs}
  font-family: $base-font-family  

h1, h2, h3  
  small    
    font-weight: normal  
    //line-height: 1  
    display: block
    +clearfix     
  
h1
  @include vertical-rythm( $h1-font-size )
  
h2
  @include vertical-rythm( $h2-font-size )

h3
  @include vertical-rythm( $h3-font-size )

p
  margin: $base-line-height auto

small
  font-size: $small-font-size 

h1, h2, h3 
  small
    font-size: .5em 

pre
  font-size: $small-font-size
  line-height: 1rem

// Icons

[class^="icon-"]:before, [class*=" icon-"]:before
  display: inline-block
  font:
    family: "fontello"
    style: normal
    weight: normal
    variant: normal
  text:
    decoration: inherit
    align: center
    transform: none
  speak: none      
  line-height: $base-line-height

// Ordered Lists

ol
  counter-reset: item
  font:
    family: $list-font-family
    style: italic

  pre, code
    font-style: normal

  pre
    margin:
      right: 50px
      left: 50px

  li
    display: block

  li:before
    content: counters(item, ".") " "
    counter-increment: item
    font-size: $h2-font-size
    width: 25px        
    float: left

  p  
    padding-left: 20px
    margin:
      top: 0
      bottom: 5px
    width: 85%     
    font:
      style: normal
      size: 1rem
    //text-transform: capitalize  
    min-height: 40px
    border-left: 2px solid #FFF
    display: inline-block
  
  em 
    display: block 

  ol  
    margin:
      left: 50px
      bottom: 10px
    width: 80%
 
    li:before
      font-weight: normal
      font-size: 1em
      width: 40px 

    p
      font-size: .9em
      padding-left: 0
      width: 80%
      border-width: 0
      margin-bottom: 0
      min-height: 20px