.responsivity
  cursor: default
  text-align: center
  @include clearfix

  li
    margin: 0 -1px -1px 0
    position: relative

.responsivity-place
  border: 1px solid #444444
  color: #666666
  padding: 20px

.responsivity-test
  background: #5DA423
  color: #F2F3F4  
  padding: 21px 0
  width: 100%
  @include position(absolute, 0px 0 0 0px)

